<div class="container">

    <div class="header">
        <h2 class="title">Our Collection</h2>
        <p class="description-text">Introducing our Coffee Collection, a selection of unique coffees from different roast types and origins, expertly roasted in small batches and shipped fresh weekly.</p>
    </div>
    <div class="buttons">
        <div class="button activate">
            All products
        </div>
        <div class="button">
            Available now
        </div>
    </div>

    <div class="product-list">
        @for (coffee of products; track $index) {
            <app-coffe-card [coffee]="coffee"></app-coffe-card>
        }
    </div>

</div>
